//--Modulos de color--//
$mainbackground: black;
$maincolour: white;
$maincontrast: grey;
$contrastfont: black;
*   {
    margin:0;
    box-sizing: border-box;
    }
//--elementos--// 
body{ 
    background-color: $mainbackground;
    color: $maincolour;
    font-family: "Lexend", sans-serif ;
    overflow-x: auto;
    overflow-y: auto; 
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    }

form{
    margin-top: 10%;
    margin-left: 35%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

input,textarea{background-color: $maincontrast;}
::placeholder{color:$contrastfont;}

//--clases--//
.header{
    background-color:$mainbackground;
    color: $maincolour;
    border: 2px;
    border-style: solid;
    height: 80px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    left:0;
     }

.nav{
    display: flex;
    justify-content:center;
    max-width: 992px;
    margin: 0 auto;
    &-link{
        color: $maincolour;
        text-decoration: none;
        &-icons{
            color:$maincolour;
            font-size: xx-large;
            padding: 0 5px;
            margin-top: 25px;
            &:hover{
                color: $maincontrast;
                transition: 0.5s;   
                };
            };
        }
        &-menu{
            display: flex;
            margin-right: 40px;
            list-style: none;
            &-item{
                font-size: 18px;
                margin: 0 2 px;
                line-height: 80px;
                text-transform: uppercase;
                width: max-content;
                };
            &-link{
                padding: 8px 12px;
                border-radius: 3px;
                &:hover{
                    color: $maincontrast;
                    transition: 0.5s;
                    };
                };
            }
            &-toggle{
                color:$maincolour;
                background: none;
                border: none;
                font-size: 30px;
                padding: 0 20px;
                line-height: 60px;
                display: none;
                cursor: pointer;
                }    
        }

            
    .footer{
        display: flex;
        margin-top: auto;
        min-width: 400px;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        text-decoration: none; 
        padding: 20px;
        & img{display: block;
            margin-left: 90%;
            margin-top: 90%;
            transform: translate(-50%, -50%);
            animation: myfirst 4s infinite linear;};
        & a{
            text-decoration: none;
            color:$maincolour;
            &:hover{
                background-color: $maincontrast;
                color: $contrastfont;
                transition: 0.5s;
                border-radius: 3px;
                max-width: 60px;
                };
           };
        }

.logo_name img{
    width: 300px;
    height: 33px;
    font-weight: bold;
    padding: 0 50px;
    margin-top: 25px;
    line-height: 80px;
    }
    .fade-in {
        -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    
.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    size-adjust: 70%;
    }
    
.slide{
    margin-top: 10%;
    }


.spotifyBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    }
    
.youtubeBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    }
    
.youtubePlayer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    }

.tracklist{
    text-decoration: none;
    list-style:none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4%;
    &Player{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2vh;
        margin-left: 5vh;
        margin-right: 5vh;
        margin-top: 5%; };
    }
   
.formtitle{text-align: center;}

//--animación logo header--//
@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
    


//--animación logo footer--//

@keyframes myfirst{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
//--media query--//   

@media (max-width:600px)
         {
            //--query elementos--// 
            body{padding-top: 70px;}

            form{margin-top: 10%;
                margin-left: 12%;
                width: 380px;
                display: flex;
                flex-direction: column;
                justify-content: center;
               }
             //--query class--// 
            .header{background-color: $mainbackground;
                     height: 60px;
                     position: fixed;
                     width: 100%;
                     top: 0;
                     left:0;}
            
            .nav     {justify-content: center;
                      &-link-icons{color: $maincolour;
                       text-decoration: none;
                       font-size: xx-large;
                       padding: 0 5px;};
                       &-menu{flex-direction: column;
                        align-items: center;
                        margin-right: 0;
                        list-style: none;
                        background-color: rgb(49, 46, 46);
                        position: fixed;
                        left: 0;
                        top: 60px;
                        width:100%;
                        padding: 0;
                        overflow-y: auto;
                        left: 100%;
                        transition:left 0.3s;
                        &-item{font-size: 18px;
                            margin: 0 10px;
                            line-height: 70px;
                            text-transform: uppercase;
                            width: max-content;
                           };
                        &-link{padding: 8px 12px;
                            border-radius: 3px;
                           }
                         }
                        &-toggle{display: block;}
                        &-menu_visible{left: 0;}
                    }

            .nav-menu-link, .nav-link-icons:hover
                     {background: none;
                      color: darkgray;
                      transition: 0.5s;
                     }

             .logo img{display: block;
                      align-items: center;
                      justify-content: center;}

             .logo_name img{margin-top: 10px;}
            
              .middle{display: flex;
                      flex-direction: column;
                      margin-left: 0%;
                      margin-top: 0%;
                      align-items: center;
                      justify-content: center;
                        .picture{width: 370px;}
                        .iframe{width: 370px;}}
        
              .footer{display: flex;
                      bottom: auto;
                      justify-content: space-around;
                      align-items:center  ;
                      height: 100px;
                      width: 100%;
                      list-style: none;
                      text-decoration: none; 
                      margin-right: auto;
                      margin-top: auto;
                    & a{text-decoration: none;
                        color: $maincolour;};
                    li{justify-content: center;
                        & img{width: 45px;
                              height: 45px;}
                      } 
                    }
        
         .tracklistPlayer, .spotifyBanner
                     {display: flex;
                      justify-content: space-between;
                      align-items: center;
                      flex-direction: column;
                     }
        .youtubePlayer iframe{width: 370px;
            display: flex;
            justify-content: center;
            align-items: center;
        .youtubeBanner{margin-left: 2%; }}
         .carouselContenedor
                     {display: flex;
                      align-items: center;
                      justify-content: center;}
               
                      .slide{display:flex;
                      margin-top: 350px;
                      align-items: center;
                      justify-content: center;
                     }

            #footermain{justify-content:first baseline;
                        margin-bottom: 7%;}
                     
                     }